.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 500px) {
  .not-found__title {
    font-size: 80px;
  }
}

.not-found__subtitle {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 500px) {
  .not-found__subtitle {
    font-size: 12px;
    margin: 10px 0 0 0;
  }
}

.not-found__link {
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 184px 0 0 0;
}

@media (max-width: 500px) {
  .not-found__link {
    margin: 284px 0 0 0;
    font-size: 12px;
  }
}
