.about-project {
  box-sizing: border-box;
  padding: 110px 70px 98px;
}

.about-project__columns {
  display: flex;
  margin-top: 70px;
  column-gap: 50px;
}

.about-project__column-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.about-project__column-subtitle {
  margin: 26px 0 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.about-project__line {
  display: flex;
}

.about-project__line-week {
  margin-top: 110px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  padding: 9px 0;
}

.about-project__line-week_color_green {
  background-color: #3ddc84;
  color: #000;
}
.about-project__line-week_color_gray {
  background-color: #303030;
}

.about-project__line-column_type_one-week {
  width: 20%;
}

.about-project__line-column_type_four-week {
  width: 80%;
}

.about-project__line-subtitle {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
