.nav-tab {
  display: flex;
  list-style: none;
  column-gap: 10px;
}

.nav-tab__link {
  display: inline-block;
  min-width: 96px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  padding: 10px 0;
  border-radius: 10px;
  background: #303030;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
}
